/*Portfolio Styles*/

.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s;
}

.portfolio-img-background-dark {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s;
  filter: brightness(10%);
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.logo-wrapper img {
  width: 50%;
  margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
  transition: 1s;
  font-weight: 800;
  color: transparent;
}

.portfolio-item-wrapper:hover .subtitle {
  font-weight: 800;
  color: Cyan;
}

/*Sliding Background Image*/

/*Header Styles*/
.fleet-headers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.map-header {
  text-align: center;
}

.fleet1-header {
  text-align: center;
}

.fleet2-header {
  text-align: center;
}

/*Graph Styles*/

.fleet1-graphs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fleet2-graphs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fleets-graphs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
